---
http_interactions:
- request:
    method: get
    uri: http://www.specsonline.com/cgi-bin/search?Sortby=Name&inclass=Liquors&keyword=&noask=noask&origin=&pageid=search&pricefrom=&pricethru=&region=&showmax=1000&size=&subclass=&submit=Click%20to%20Show%20More&webclass=Liquors
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: "<!DOCTYPE HTML PUBLIC \"-//IETF//DTD HTML 3.0//EN\" \"html.dtd\">\n<HTML>\n<HEAD>\n<TITLE>cart
        </TITLE>\n<script language=\"JavaScript\">\nvar cartwin;\n\nfunction ordwin(
        form ) \n{\n\tvar url = form;\n\n\tsmwin = window.open(url,'orderhist','width=600,height=640,alwaysRaised=yes,directories=no,location=no,menubar=no,status=no,scrollbars=yes,toolbar=no,resizable=no,left=350,top=150,screenX=350,screenY=150');\n\tsmwin.focus();\n\treturn
        false;\n}\n\nfunction smallwin( form ) \n{\n\tvar url = '/cgi-bin/pleasewait?Form='+form\n\n\tsmwin
        = window.open(url,'SpecsOnline','width=500,heigh[...]
